[mysqld]
default_authentication_plugin=mysql_native_password

slow_query_log = 0
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 0

# コミットごとに更新データをログに書き、1秒ごとにログをフラッシュ
innodb_flush_log_at_trx_commit = 2

# バイナリログを無効化する
disable-log-bin = 1
